<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic 4 Select Image
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>

  <ion-button (click)="selectImage()">
    Pick Image to Crop
  </ion-button>
  <img [src]="imagePath" />

</ion-content>
